.counter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.btn {
    align-items: center;
    justify-content: center;
}

.card-img-top {
    border:transparent;
}

.itemCountContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 18rem;
  }