.h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  rgb(0, 0, 0, 0.375);
    margin: 3rem 0;
    height: 5rem;
}

.itemDetailContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }