
.card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: fit-content;
    margin: 10px auto;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.divCounter {
    align-items: center;
    justify-content: center;
    margin: 0 64px;
    
};
