.greeting {
    font-style: italic;
    text-align: center;
}

.productos {
    
    padding: 1rem;
    text-align: center;
}

.tituloSaludo {
    display: flex;
    flex-direction: column;
    font-family: andale mono, monospace;
    background: rgb(125,123,123);
    background: linear-gradient(130deg, rgb(155, 154, 154,1) 0%, rgba(223,223,223,1) 50%, rgb(155, 154, 154,1) 100%);
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    border-radius: 1rem;
    padding: 1rem;
}   