.greeting {
    font-style: italic;
    text-align: center;
};

.productos {
    padding: 1rem;
    background-color: white;
    text-align: center;
};

.tituloSaludo {
    display: flex;
    background-color: red;
}